{% block body %}

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<nav class="navbar navbar-expand-sm navbar-light bg-light">
		<a class="navbar-brand" href="/">
			<img src="/images/logo.png" width="60" height="30" class="d-inline-block align-top">
			Projet 2
		</a>
		<button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="collapsibleNavId">
			<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
				<li class="nav-item">
					<a class="nav-link" href="/">Welcome</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/current-scans">Last Measure</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/history">History</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/favorite-measures">Favorites</a>
				</li>
			</ul>
		</div>
	</nav>

{% endblock %}
